@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
a:hover,
.custom-link:hover {
  color: hsl(25, 86%, 58%);
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts\Neue Montreal\NeueMontreal-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts\Neue Montreal\NeueMontreal-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts\Neue Montreal\NeueMontreal-Medium.otf");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts\Neue Montreal\NeueMontreal-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

body {
  overflow-x: hidden !important;

  font-family: "Neue Montreal", sans-serif;
}

.logo {
  position: relative;
}

.logos-slide {
  display: flex;
  gap: 1rem;
  width: 200%; /* Adjust to make sure the width is twice the width of one set of images */
  animation: slide 10s linear infinite;
}

.logo-wrapper {
  display: flex;
  white-space: nowrap;
}

.logo:hover .logos-slide {
  animation-play-state: paused;
}

.logo::before,
.logo::after {
  position: absolute;
  content: "";
  top: 40%;
  bottom: 0;
  width: 5rem;
  height: 40%;
  z-index: 2;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 192, 203, 0.274)
  );
}

.logo::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 192, 203, 0.274)
  );
}

.logo::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(255, 192, 203, 0.274)
  );
}
